[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=streamnow
Comment=webcam instant streaaming to icecast
Exec=streamnow
Icon=application.png
Terminal=false
Categories=Application;Network;

#  Place this file in the /usr/share/applications directory so that it is
# accessible by everyone, or in ~/.local/share/applications if you only wish
# to make it accessible to a single user.
